// Font family
$mainFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$codeFont: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// Size
$mainFontSize: 16px;

// Color scheme
$color-primary: #2668B3;
$color-primary_lighten: #5186c2;
$color-primary_darken: #1a487d;

$color-secondary: #0F1642;
$color-secondary_lighten: #3f4467;
$color-secondary_darken: #0a0f2e;

$color-white: #ffffff;
$color-black: #000000;

$color-grey: #393f48;
$color-grey_light: #eeeeee;
$color-grey_dark: #212121;

$color-blue_light: #e5f6fd;
$color-blue_dark: #071318;


