@import '../../scssHelpers/index';

.enigma-button {
  border: none;
  border-radius: px2rem(30);
  font-weight: 700;
  cursor: pointer;
  &--primary {
    background-color: $color-primary;
    box-shadow: rgba($color-primary_darken, 0.15) 0 0 0 px2rem(1) inset;
    color: $color-white;
    @include bgTransition();
    &:hover {
      background-color: $color-primary_darken;
    }
  }
  &--secondary {
    background-color: rgba(var(--t_color-1), 0.08);
    box-shadow: rgba(var(--t_color-1), 0.15) 0 0 0 px2rem(1) inset;
    color: rgb(var(--t_color-1));
    @include colorTransition();
    &:hover {
      background-color: rgba(var(--t_color-1), 0.16);
      @include bgTransition();
    }
  }
  &--small {
    padding: px2rem(10) px2rem(16);
    @include fontSize(12);
  }
  &--medium {
    padding: px2rem(11) px2rem(20);
    @include fontSize(14);
  }
  &--large {
    padding: px2rem(12) px2rem(24);
    @include fontSize(16);;
  }
}
