@import "./src/scssHelpers/index";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: px2rem(15) px2rem(20);
  border-bottom: px2rem(1) solid rgba(var(--t_color-1), 0.1);
  box-shadow: 0 px2rem(3) px2rem(5) rgba($color-grey, 0.3);
  &:hover {
    box-shadow: 0 px2rem(6) px2rem(5) rgba($color-grey, 0.3);
    @include bgTransition()
  }
}

button + button {
  margin-left: px2rem(10);
}

.separator {
  width: px2rem(1);
  height: px2rem(50);
  margin: px2rem(0) px2rem(10);
  background: rgba(var(--t_color-1), 0.16);
}
